html {
  font-family: "Droid Serif", serif;
}

header {
  background-color: #70ad55;
}

h1 {
  color: white;
  margin-bottom: .5em;
}

.intro {
  color: white;
  line-height: 1.5;
}

label {
  display: block;
}

input,
select,
textarea,
option {
  width: 19em;
  border-color: #6e8c62;
}

hr {
  width: 19em;
  border-color: #6e8c62;
}

.opt {
  color: #70ad55;
}

textarea {
  height: 10em;
}

button {
  text-align: center;
  padding: .5em 2em;
  font-size: 1.2em;
}

fieldset {
  border: 0;
}

footer {
  background-color: #70ad55;
}

small.footer {
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .one {
    width: 49.5%;
    display: inline-block;
  }

  input,
  select,
  textarea,
  option {
    width: 15em;
  }

  textarea {
    width: 97%;
  }

  hr {
    width: 97%;
  }
}
